//seleciona + ctrl + ; para comentar
body {
    // background: url("../images/hero-bg-xs-tablet.webp") no-repeat; //sempre começa pelo mobile
    // background-size: cover;
    background-position: center center;
    width: 100%;
    // height: calc(100vh - 100px - 100px);
    display: flex;
    & > header {
        position: fixed;
        top: 0;
        z-index: 100; //para colocar o header por cima do conteúdo. Conta quantas tags do mesmo nivel existem no projeto, melhor colocar 100 para não correr risco.
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition-duration: 0.5s;
        & > nav {
            width: 60%;
            & > ul {
                margin: 0;
                display: flex;
                > li {
                    list-style: none;
                    margin-right: 40px;
                    > a {
                        text-decoration: none;
                        color: #222;
                        font-weight: bold;
                    }

                }
            }
        }

            button {
                width: 290px;
                height: 40px;
                border: none;
                text-transform: uppercase;
                color: #333;
                background: #ffe45c;
                font-size: 0.8em;
                border-radius: 20px;
            }
    } 
}
.jss4 .jss6 {
    fill: hsla(0, 0%, 15%, 1);
}
.jss12 {
    width: auto;
    height: 24px;
}
// section {
//     width: 100%;
//     height: calc(100vh - 100px - 100px);
//     background: url("../images/hero-bg-xs-tablet.webp") no-repeat; //sempre começa pelo mobile
//     background-size: cover;
// }


//inicio do responsivo

/* Tablet */
@media (min-width: 768px){ 
    body {
        background: url("../images/hero-bg-xs-tablet.webp") no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

/* Desktop */
@media (min-width: 1280px){
    body {
        background: url("../images/hero-bg-desktop.webp") no-repeat;
        background-size: cover;
        background-position: center center;
    }
}